$primary: #1f8efa;
$silver_light: #516173;
$super_dark: #273142;
$default_dark: #354052;
$light_silver: #dfe3e9;
$super_light: #7f8fa4;
$light_primary: #ecf6ff;
$ultra-yellow: #ffb300;
$red: #ff3031;
